* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #1C658C;
}

.container {
    text-align: center;
}

#name {
    color: #D8D2CB;
}

.ust {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-around;
    color: #D8D2CB;
}

.tarih {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5%;
    color: #EEEEEE;
}